// primary color
$pr-cyan: hsl(179, 62%, 43%);
$pr-yellow: hsl(71, 73%, 54%);

// text color
$txt-light-gray: hsl(204, 43%, 93%);
$bt-gray: hsl(218, 22%, 67%);

// font-size
$fs-md: 1.25rem;
$fs-rg: 1rem;

$fs-sm: 0.825rem;
$fs-xs: 0.775rem;

// font family
$ff: "Karla", sans-serif;
